[[extend 'layout.html']]

<div class="section">
  <div class="c25">
    <img src="/scraper/static/images/taz.png" width="180px">
  </div>
  <div class="c75">
    <h2>Benvenuto nello Scraper</h2>
    <div class="vars">
      [[=form]]
  </div>
  </div>
</div>

<div class="section">
<div class="c50">
  <h3 class="title">Siti importati</h3>

  <ul>
  [[for row in rows:]]
  <li>[[=row.id]]: [[=row.website_url]]</li>
  [[pass]]
  </ul>

</div>
<div class="c50">
  <h3 class="title">Excel generati</h3>

  <ul>
    [[for row in rowsExcel:]]
   <li>ID SITO: [[=row.reference_file]] <a href="/scraper/static/excel/[[=row.file]]">[[=row.file]]</a></li> 
    [[pass]]
    </ul>

</div>
</div>